/* ====== FOOTER ====== */
.footer {
    background-color: #8c745a; /* marrón principal */
    padding: 60px 5%;
    font-family: "Comic_Relief";
    color: #000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 50px;
}

/* COLUMNA GENERAL */
.footer-box {
    flex: 1;
}

/* Títulos */
.footer-titulo {
    font-family: "Bowlby_One_sc";
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.footer-texto {
    font-size: 1.1rem;
    line-height: 1.4;
}

/* TARJETAS */
.footer-card {
    background-color: #d3c8b4;
    padding: 25px;
    border-radius: 20px;
    border: 3px solid #4e3e32;
    min-width: 240px;
}

.footer-card-titulo {
    font-family: "Comic_Relief";
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* ITEMS (icono + texto) */
.footer-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 18px;
}

.icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
