/*Fuentes*/
@import url("fonts.css");

:root{
    --color-primary:#D9D3C1;
    --color-marronClaro:#8C7A64;
    --color-marronOscuro:#73624D;
    --color-header:#BFB39B;
}

body{
    margin: 0;
    padding: 0;
}

header{
    padding: 15px 30px;
    background-color:var(--color-header);
    border-bottom: 1px solid black;
}
.Marca{
    width: 100%;
}

.Marca h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: 2px;
    font-family:"Bowlby_One_sc";
}
.Marca p{
    font-size: 20px;
    margin: 0;
    padding: 20px;
    font-family: "Comic_Relief";
}

.boton{
    border-radius:50px;
    cursor: pointer;
    margin: 5px;
}
.boton1{
    border-radius: 50px;
    cursor: pointer;
    margin: 5px;
}

/*Estilos para menu de navegacion*/
.main-nav ul,.user-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 20px;
    font-family: "Comic_Relief";
}
.main-nav li{

    border-bottom: 3px solid transparent;
    margin-left: 200px;
}
.user-nav{
    margin-left: 87%;
    
}
.main-nav{
    background-color: #73624D;
    width: 40%;
    height: 80px; 
}
